.pc-component {
  background-color: white;
  margin-top: 15px !important;
  border-radius: 5px;
  min-height: 60px;
  &:hover {
    cursor: pointer;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
}

.btn-align {
  text-align: end;
  padding-right: 30px !important;
}

.empty-data {
  width: 800px;
  .empty-line {
    background-color: #eee;
    height: 5px;
    margin-bottom: 5px;
    width: 75%;
  }
  .empty-line:nth-child(2n) {
    width: 58%;
  }
}

.title {
  padding-left: 30px !important;
  padding-top: 1.5%;
}

.modal-90w {
  max-width: 70vw !important;
}
.icon {
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.loader {
  width: 5rem !important;
  height: 5rem !important;
  left: 0;
  right: 0;
  margin: 40vh auto;
  position: absolute;
}
.icon-block {
  display: flex;
  justify-content: center;
}
